* {
  margin: 0px;
}

body {
  font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;  
  margin: 0px auto;
  width: 95%;
  box-shadow: 3px 3px 7px #777;
  font-size: .8em;
}

nav {
  display: block;
  width: 20em;
  float: left;
  margin: 0px;
  margin-bottom: 30px;
}

header {
  width: 100%;
  height: 50px;
  background: url('images/bg.png') repeat-x right top;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

footer {
  height: 25px;
  background: url('images/bg.png') repeat-x right top;
  margin-top: 30px;
  clear: both;
}

footer p {
  color: #fff;
  text-align: right;
}

div#body {
  padding-left: 23.5em;
  margin-bottom: 30px;
}

div#body h2 {
  margin-left: -1em;
  padding-top: 10px;
}

div#body h3 {
  padding-top: 20px;
  margin-left: -1em;
}

div#body h4 {
  padding-top: 10px;
  padding-bottom: 5px;
}

div#body table tr {
  border: solid thin black;
}

div#body table {
  border-spacing: 0px 0px;
  border: solid thin #777777;
  margin-left: 1em;
  width: 90%
}

div#body table tr td {
  border: solid thin #ededed;
  padding: 2px;
  font-size: .9em;
}

div#body table tr th {
  border: solid thin #ededed;
  background-color: #ededed;
  padding: 2px;
  font-size: .9em;
}

div#page {
  border: solid thin black;
}

div.highlight pre {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
  background-color: #eee;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

tt {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
}

div#bookpicker {
  margin-left: -20em;
  width: 700px;
}

div.left {
  clear: both;
  float: left;
  text-align: right;
  width: 200px;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.left h2 {
  color: #333333;
}

div.right {
  float: right;
  text-align: left;
  width: 450px;
  margin: auto;
  color: #666666;
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: .75em;
}

div.pdf {
  padding-left: 20px;
  background: url('images/pdf.png') no-repeat left center;
}
