* {
  margin: 0px;
}

body {
  font-family: Verdana, Arial, sans-serif;  
  margin: 0px auto;
  font-size: .8em;
}

p {
  margin-top: 1em;
}

img {
  margin: 1em;
}

div#page {
  padding-top: 12px;
}

div#siteHeader {
  background-image: url("images/bg.png");
  clear: both;
}

img {
    margin: 2px;
}

div#siteHeader table {
  margin: 2px auto;
  width: 85%;
}

div#siteHeader a:link {
  color: #ffffff;
  text-decoration: none;
}

div#siteHeader a:visited {
  color: #ffffff;
  text-decoration: none;
}

div#siteHeader a:hover {
  color: #ffffff;
}

div#siteHeader table, div#siteHeader td {
  border: none;
  vertical-align: middle;
}

div#siteHeader ul.siteNav {
  list-style-type: none;
  padding:0;
  margin-top: 15px;
  text-align: right;
}
  
ul.siteNav li {
  display: inline;
  padding-left: 40px;
  font-weight: 300;
}

ul.siteNav li form {
  display: inline-block;
}

div#sectHeader {
  background: #909090;
  height: 50px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
  clear: both;
  }

div#sectHeader a:link {
  color: #ffffff;
  text-decoration: none;
}

div#sectHeader a:visited {
  color: #ffffff;
  text-decoration: none;
}

div#sectHeader a:hover {
  color: #ffffff;
}

div#sectHeader table, div#sectHeader td {
  border: none;
  }
  
div#sectHeader h1 {
  border: none;
  padding: 0;
  margin: 0;
  }
  
ul.sectNav {
  list-style-type: none;
  }
  
ul.sectNav li {
  display: inline;
  font-size: large;
  padding: 0 40px;
  }

div#siteFooter {
  background: url("images/bg.png") center;
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
  vertical-align: bottom;
  clear: both;
  padding: 2px 20px;
  font-size: 80%;
}

div#content {
  clear: both;
  margin: 50px auto;
  width: 85%;
}

div#body {
  padding-left: 22.5em;
  margin-bottom: 30px;
  }
  
div#nav {
  display: block;
  width: 20em;
  float: left;
  margin: 0px;
  margin-bottom: 30px;
}

div.clearing {
  clear: both;
}

div.highlight pre {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
  background-color: #eee;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
}

tt {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
}

div.tip, div.warn, div.note  {
  position: relative;
  left: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 90%;
}

div.tip h1:before {
  content:url(/images/check.gif);
  padding-right: 10px;
}

div.tip h1, div.warn h1, div.note h1 {
  font-size: small;
  padding-bottom: 5px;
  margin: 0;
  border-bottom: none;
}

div.tip {
  background-color: #DDFADE;
  border-color: #9EC49F;
}

div.warn {
  background-color: #FFE7E7;
  border-color: #DF9898;
}

div.note {
  background-color: #FFFFDD;
  border-color: #F7DF92;
}

div.code {
  background-color: #FFFFDD;
  border-color: #F7DF92;
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
    font-weight: bold;
    padding: 2px;
}

h1 {
    margin: 36px 0 4px 0;
    border-bottom: 1px solid #919699;
}

h2 {
    margin: 27px 0 4px 0;
    border-bottom: 1px solid #919699;
}

h3 {
    margin: 21px 0 4px 0;
}

h4 {
    margin: 18px 0 4px 0;
}

h5 {
    margin: 14px 0 4px 0;
}

h6 {
    margin: 14px 0 4px 0;
}

table {
    margin: 5px;
    border-collapse: collapse;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 5px;
    vertical-align: top;
    min-width: 0.6em;
}

th {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 5px;
    background-color: #f0f0f0;
    text-align: left;
    vertical-align: top;
    min-width: 0.6em;
}

a {
  color: #5b8fbe;
  text-decoration: none;
}

a:hover {
  color: #666;
}
