* {
  margin: 0px;
}

body {
  font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;  
  margin: 0px auto;
  width: 95%;
  box-shadow: 3px 3px 7px #777;
  font-size: .8em;
}

nav {
  display: block;
  width: 20em;
  float: left;
  margin: 0px;
  margin-bottom: 30px;
}

header {
  width: 100%;
  height: 50px;
  background: url('images/bg.png') repeat-x right top;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

footer {
  height: 25px;
  background: url('images/bg.png') repeat-x right top;
  margin-top: 30px;
  clear: both;
}

footer p {
  color: #fff;
  text-align: right;
}

div#body {
  padding-left: 22.5em;
  margin-bottom: 30px;
}

div#page {
  border: solid thin black;
}

div.highlight pre {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
  background-color: #eee;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
}

tt {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
}
