@page {
  @top { content: "Apache ServiceMix ${servicemix.version}" }
  @bottom { content: counter(page) }
  margin: 50pt 50pt 50pt 50pt;
  size: a4;
}

@page:first {
  @top { content: normal }
  @bottom-right { content: normal }
}

body {
  font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;  
  margin: 0px auto;
  width: 95%;
  box-shadow: 3px 3px 7px #777;
  font-size: .8em;
}

div#titlepage {
  page-break-after: always;
  padding-top: 20em;
}

div#titlepage div#title {
  text-align: right;
  font-size: 3em;
}

div#titlepage div#subtitle {
  text-align: right;
  font-size: 2em;
}

div.highlight pre {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
  background-color: #eee;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
}
