@page {
  @top { content: "Apache ServiceMix ${servicemix.version}" }
  @bottom { content: counter(page) }
}

@page:first {
  @top { content: normal }
  @bottom-right { content: normal }
}

body {
  font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;  
  margin: 0px auto;
  width: 95%;
  box-shadow: 3px 3px 7px #777;
  font-size: .8em;
}

div#titlepage {
  page-break-after: always;
  padding-top: 20em;
}

div#titlepage div#title {
  text-align: right;
  font-size: 3em;
}

div#titlepage div#subtitle {
  text-align: right;
  font-size: 2em;
}

div#main {
}

