@page {
  @top {
    content: "Apache ServiceMix ${servicemix.version}"; 
    font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
  }
  @bottom {
    content: counter(page);
    font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
  }
  margin: 70pt 50pt 70pt 50pt;
  size: a4;
}

@page:first {
  @top { content: normal }
  @bottom-right { content: normal }
}

body {
  font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;  
  margin: 0px auto;
  width: 95%;
  box-shadow: 3px 3px 7px #777;
  font-size: .8em;
}

div#titlepage {
  page-break-after: always;
  padding-top: 20em;
}

div#titlepage div#title {
  text-align: right;
  font-size: 3em;
}

div#titlepage div#subtitle {
  margin-top: 2em;
  text-align: right;
  font-size: 2em;
}

div.highlight pre {
  font-family: 'Courier', Courier, monospace;
  font-size: .9em;
  background-color: #ededed;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
  page-break-inside: avoid;
}

h1 {
  page-break-before: always;
  counter-increment: h1;
  counter-reset: h2;
  margin-left: -20px;
}

h1::before {
  content: counter(h1) ". ";
}

h2 {
  counter-increment: h2;
  margin-left: -20px;
}

h2::before {
  content: counter(h1) "." counter(h2) ". ";
}

table {
  border-spacing: 0px 0px;
  border: solid thin #777777;
  width: 100%;
}

table tr td {
  border: solid thin #ededed;
  padding: 2px;
  font-size: .9em;
}

table tr th {
  border: solid thin #ededed;
  background-color: #ededed;  
  padding: 2px;
  font-size: .9em;
}